[Unit]
Description=Digital Whispers Server

[Service]
WorkingDirectory=/home/pi/Digital_Whispers
ExecStart=/usr/bin/python main/server.py
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
