[Unit]
Description=Digital Whispers Client

[Service]
WorkingDirectory=/home/pi/Digital_Whispers
ExecStart=/usr/bin/python -u main/client.py
User=pi
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
