[Unit]
Description=Digital Whispers Server
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/home/pi/Digital_Whispers
ExecStart=/usr/bin/python -u main/server.py
User=pi
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
